*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc
/debug
/img
/.vscode
*.mp4

/data/*
!/data/intrinsics

/thirdparty/ctraj-build
/thirdparty/ctraj-install
/thirdparty/opengv-build
/thirdparty/opengv-install
/thirdparty/veta-build
/thirdparty/veta-install

/script/*
!/script/gen_pattern.py
!/script/svgfig.py
!/script/example.sh
!script/davis_data_recoder.sh
